server:
  port: 8084

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: password
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3s
          max-attempts: 3

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/
      register-with-eureka: true
      fetch-registry: true