server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
              - Path=/api/inventory/**
          filters:
            - AuthenticationFilter

        - id: procurement-service
          uri: lb://procurement-service
          predicates:
              - Path=/api/procurement/**
          filters:
            - AuthenticationFilter


        - id: order-service
          uri: lb://order-service
          predicates:
              - Path=/api/order/**
          filters:
            - AuthenticationFilter


        - id: identity-service
          uri: lb://identity-service
          predicates:
            - Path=/auth/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/