server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
              - Path=/api/inventory/**
        - id: procurement-service
          uri: lb://procurement-service
          predicates:
              - Path=/api/procurement/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/